* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url('../img/bg-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.page {
    min-height: 100vh;
}

.page .body {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.page .body .content {
    margin-top: 5%;
    max-width: 30%;
}

.page .body .content h2 {
    color: white;
    width: 75%;
    margin-bottom: 20px;
}

.page .body .content p {
    color: hsl(0deg 0% 100% / 75%);
    margin-bottom: 40px;
}

.page .body .content button {
    outline: none;
    border: none;
    color: white;
    background-color: hsl(300, 69%, 71%);
    height: 45px;
    width: 120px;
    border-radius: 20px;
}

.page .body .content button:hover {
    opacity: .7;
    cursor: pointer;
}

.page .footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.page .footer span {
    color: white;
    border: 1px white solid;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-block;
}

.page .footer span:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.page .footer span:not(:last-child) {
    margin-right: 10px;
}

.page .footer span i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}