* {
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-color: #f2f2f2;
}

.bg-orange {
    background-color: #e38826;
}
.orange {
    color: #e38826;
}

.bg-cyan {
    background-color: #006970;
}

.cyan {
    color: #006970;
}

.bg-dark-cyan {
    background-color: #004241;
}

.dark-cyan {
    color:#004241;
}

.card {
    width: calc(98% / 3);
    display: inline-block;
    padding: 45px;
    border-radius: 15px;
    margin-right: -5px;
}

.card .card__title {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.card .card__description {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.55);
    width: 75%;
    margin-bottom: 75px;
}

.card .card__btn {
    outline: none;
    border: none;
    height: 50px;
    width: 50%;
    border-radius: 25px;
}

.card .card__btn:hover {
    opacity: .8;
}

.card:not(:last-child) {
    margin-right: .8%;
}

.container {
    width: 80%;
    margin: auto;
}